.join_section {
    margin-top: 20px;
    
    .input_section {
        .input_title {
            font-size: 20px;
        }
    }

    .logo_section {
        img {
            width: 150px;
        }
    }
}